<template>
  <div class="login-form">
    <strong>Vous devez vous authentifier pour accéder à vos favoris</strong>

    <v-alert type="error" v-if="isFailedLogin">
      Combinaison login / mot de passe invalide.
    </v-alert>
    <v-form
      ref="form"
    >
      <v-text-field
        v-model="login"
        label="Login"
        required />

      <v-text-field
        v-model="password"
        type="password"
        label="Mot de passe"
      />

      <v-btn
        color="success"
        class="mr-4"
        @click="validate"
      >
        Se connecter
      </v-btn>
    </v-form>
  </div>
</template>

<script>
export default {
  name: 'LoginView',
  data: () => ({
    login: '',
    password: '',
  }),
  computed: {
    isFailedLogin() {
      return this.$store.state.user.didLoginAttemptFail;
    },
  },
  methods: {
    validate() {
      this.$store.dispatch('user/login', { login: this.login, password: this.password });
    },
  },
};
</script>
