<template>
  <v-card class="mx-auto"  v-if="!!post" >
    <v-card-title class="card-title text-center">
      <div class="blog-header">
        <div class="title">
          <router-link v-if="viewMore" :to="{name: 'Post', params:{id: post.id}}">
            {{ post.title }}
          </router-link>
          <div v-else>{{ post.title }}</div>
        </div>
        <FavoriteIcon :post="post" v-if="isLogged"/>
      </div>
    </v-card-title>
    <v-card-subtitle v-if="!!post.blogger">
      par
      <router-link :to="{name: 'Blogger', params: {id: post.blogger.id}}" id="author-link">
        {{bloggerName}}
      </router-link>
    </v-card-subtitle>
    <v-divider/>
    <v-card-text>
      <span v-html="shortenedContent"/>
      <span v-if="viewMore" class="view-more-link">
        <router-link :to="{name: 'Post', params:{id: post.id}}">
          (Lire la suite)
        </router-link>
      </span>
    </v-card-text>
  </v-card>
</template>

<script>
import FavoriteIcon from '../favorites/FavoriteIcon.vue';

export default {
  name: 'BlogPost',
  components: { FavoriteIcon },
  props: {
    post: {
      required: true,
    },
    contentLength: {
      required: false,
      default: Number.MAX_VALUE,
    },
    viewMore: {
      required: false,
      default: false,
    },
  },
  computed: {
    isLogged() {
      return this.$store.state.user.isLoggedIn;
    },
    shortenedContent() {
      const { content } = this.post;
      if (content.length < this.contentLength) {
        return content;
      }
      return `${content.substring(0, this.contentLength)}...`;
    },
    bloggerName() {
      const { blogger } = this.post;
      if (!blogger) {
        return '';
      }
      return `${blogger.firstName} ${blogger.lastName}`;
    },
  },
};
</script>

<style scoped>
  .view-more-link {
    font-style: italic;
    color: cornflowerblue;
  }
  #author-link {
    text-decoration: underline;
    font-style: italic;
  }
  .blog-header {
    display:flex;
    flex-wrap: wrap;
  }
</style>
