<template>
  <div v-if="posts">
    <v-alert type="info" v-if="!posts.length">
      Ce blogger n'a rien publié encore.
    </v-alert>
    <template v-for="post in posts">
      <v-list-item :key="post.id" class="post">
        <BlogPost :post="post" content-length="300" :view-more="true"/>
      </v-list-item>
    </template>
  </div>
</template>

<script>
import BlogPost from './BlogPost.vue';

export default {
  name: 'PostList',
  components: { BlogPost },
  props: {
    posts: {
      required: true,
    },
  },
};
</script>

<style scoped>
  .post{
    margin-bottom: 30px;
    margin-left: 5%;
    margin-right: 5%;
    width:auto;
  }

  .post >>> .mx-auto {
    width: 100%;
  }
</style>
