<template>
<div class="app">
  <v-app>
    <NavigationBar class="navbar"/>
    <div class="content">
    <v-content>
      <router-view />
    </v-content>
    </div>
  </v-app>
</div>
</template>

<script>
import NavigationBar from './components/shared/NavigationBar.vue';

export default {
  name: 'App',
  components: { NavigationBar },
  created() {
    this.fetchFavorites();
  },
  methods: {
    fetchFavorites() {
      this.$store.dispatch('user/getFavorites');
    },
  },
};
</script>

<style>
  .app .v-application a {
    text-decoration: none;
    color: inherit;
  }
  .content {
    margin-top: 5%;
  }
</style>
