<template>
  <div class="favorites-list" v-if="favorites">
    <v-alert type="info" v-if="!favorites.length">
      Vous n'avez pas encore de favori.
    </v-alert>
    <template v-for="post in favorites">
      <v-list-item :key="post.id" class="favorite-item">
        <BlogPost :post="post" content-length="100" :view-more="true"/>
      </v-list-item>
    </template>
  </div>
</template>

<script>
import BlogPost from '../post/BlogPost.vue';

export default {
  name: 'FavoritesList',
  components: { BlogPost },
  props: ['favorites'],
};
</script>

<style scoped>
.favorite-item {
  margin-bottom: 20px;
}
</style>
