<template>
  <v-card
    class="mx-auto"
    outlined
  >
    <v-card-title>Favorites</v-card-title>
    <v-card-text>
      <FavoritesList v-if="isLoggedIn" :favorites="favorites" />
      <LoginView v-else />
    </v-card-text>
  </v-card>
</template>

<script>
import FavoritesList from './FavoritesList.vue';
import LoginView from '../login/LoginPanel.vue';

export default {
  name: 'FavoritesWidget',
  components: { LoginView, FavoritesList },
  computed: {
    favorites() { return this.$store.state.user.favorites; },
    isLoggedIn() { return this.$store.state.user.isLoggedIn; },
  },
};
</script>
