<template>
  <div class="favorite-icon">
    <img v-if="!post.isFavorite" src="@/assets/not-favorite.png" alt="no" @click="addFavorite()"/>
    <img v-else src="@/assets/favorite.png" alt="yes" @click="deleteFavorite()"/>
  </div>
</template>

<script>
export default {
  name: 'FavoriteIcon',
  props: ['post'],
  methods: {
    addFavorite() {
      this.$store.dispatch('user/addFavorite', this.post);
    },
    deleteFavorite() {
      this.$store.dispatch('user/deleteFavorite', this.post);
    },
  },

};
</script>

<style scoped>
.favorite-icon img {
  width: 24px;
}
</style>
