<template>
  <div class="blogger-header">
    <img class="blogger-photo" :src="blogger.avatarUrl" :alt="bloggerName" />
    <h2>{{bloggerName}}</h2>
    <div class="blogger-pitch">{{blogger.pitch}}</div>
  </div>
</template>

<script>
export default {
  name: 'BloggerDescription',
  computed: {
    bloggerName() {
      const { firstName, lastName } = this.blogger;
      return `${firstName} ${lastName}`;
    },
  },
  props: {
    blogger: {
      required: true,
    },
  },
};
</script>

<style scoped>
  .blogger-header {
    text-align: center;
  }
  .blogger-pitch {
    font-style: italic;
  }
  .blogger-photo {
    max-height: 100px;
  }
</style>
