<template>
  <v-card class="mx-auto" outlined>
    <v-card-title class="card-title text-center">Nos bloggers</v-card-title>
    <v-card-text>
      <BloggersList :bloggers="bloggers"/>
    </v-card-text>
  </v-card>
</template>

<script>
import BloggersList from './BloggersList.vue';

export default {
  name: 'BloggersWidget',
  components: { BloggersList },
  created() {
    this.$store.dispatch('blog/getBloggers');
  },
  computed: {
    bloggers() { return this.$store.state.blog.bloggers; },
  },
};
</script>

<style scoped>
  .card-title {
    display: block;
  }
</style>
