<template>
  <v-list three-line>
    <template v-for="blogger in bloggers">
      <v-list-item :key="blogger.id">
        <v-list-item-avatar>
          <v-img :src="blogger.avatarUrl" />
        </v-list-item-avatar>
        <v-list-item-content>
          <v-list-item-title>
            <router-link :to="{name: 'Blogger', params: {id: blogger.id}}">
              {{blogger.firstName}} {{blogger.lastName}}
            </router-link>
          </v-list-item-title>
          <v-list-item-subtitle>{{blogger.pitch}}</v-list-item-subtitle>
        </v-list-item-content>
      </v-list-item>
    </template>
  </v-list>
</template>

<script>
export default {
  name: 'BloggersList',
  props: ['bloggers'],
};
</script>

<style scoped>

</style>
