<template>
    <v-app-bar
        app
        color="indigo"
        dark
        >
        <div class="title">
            <router-link :to="{ name: 'Home' }">BlogIt</router-link>
        </div>
    </v-app-bar>
</template>

<script>
export default {
  name: 'NavigationBar',
};
</script>

<style>
.title {
  font-size: 3rem;
  text-align: center;
}
.v-app-bar > div {
  justify-content: center;
}
</style>
