<template>
    <div v-if="!!post" class="post-page">
      <BlogPost :post="post" :view-more="false" />
    </div>
</template>

<script>
import BlogPost from '../components/post/BlogPost.vue';

export default {
  name: 'PostPage',
  components: { BlogPost },
  props: ['id'],
  computed: {
    post() {
      return this.$store.getters['blog/post'];
    },
  },
  created() {
    this.$store.dispatch('blog/fetchCurrentPost', this.id);
  },
  destroyed() {
    this.$store.dispatch('blog/resetCurrentPost');
  },
};
</script>

<style scoped>
  .post-page {
    margin-left: 10%;
    margin-right: 10%;
  }
</style>
