<template>
  <div v-if="!!blogger">
    <BloggerDescription :blogger="blogger" class="blogger-header" />
    <PostList :posts="blogger.posts" />
  </div>
</template>

<script>
import BloggerDescription from '../components/blogger/BloggerDescription.vue';
import PostList from '../components/post/PostList.vue';

export default {
  name: 'BloggerPage',
  components: { PostList, BloggerDescription },
  computed: {
    blogger() { return this.$store.getters['blog/blogger']; },
  },
  props: ['id'],
  created() {
    this.$store.dispatch('blog/fetchBlogger', this.id);
  },
  destroyed() {
    this.$store.dispatch('blog/resetBlogger');
  },
};
</script>

<style scoped>
  .blogger-header {
    margin-bottom: 20px;
  }
</style>
