<template>
  <div class="home">
    <div class="main-area">
      <div class="bloggers">
        <BloggersWidget/>
      </div>
      <div class="favorites">
        <FavoritesWidget />
      </div>
    </div>
  </div>
</template>

<script>
import BloggersWidget from '../components/blogger/BloggersWidget.vue';
import FavoritesWidget from '../components/favorites/FavoritesWidget.vue';

export default {
  name: 'HomePage',
  props: {},
  components: {
    BloggersWidget,
    FavoritesWidget,
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .main-area {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-left: 10%;
    margin-right: 10%;
  }
  .main-area div {
    flex: 1 0;
    padding: 20px;
  }
</style>
